@mixin responsive($screen) {
    @if (map-has-key($map: $breakpoint, $key:$screen )){
        $value : map-get($map: $breakpoint, $key:$screen );
        @media screen and (max-width: $value) {
            @content;
        }
    }@else {
        @error 'Screen does not exit!!'
    }
}