#pills-moviemanager {
  .moviemanager__icon {
    transform: translateY(-3px) translateX(-1px);
  }
  .table {
    tbody {
      th,
      td {
        padding-top: 20px;
      }
      td:last-of-type {
        button {
          margin-top: -10px;
        }
      }
    }
  }
}
