@import "/src/scss/main.scss";

.carouselBanner {
  width: 100%;
  height: 100%;
  .carousel-inner {
    .carouselBanner__img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  .carousel-indicators {
    .carouselBanner__list {
      width: 10px !important;
      height: 10px !important;
      border-radius: 10px !important;
      background-clip: unset !important;
      background-color: rgba(255, 255, 255, 0);
      border: 2px solid #fff;
    }
    .active {
      background-color: #fff !important;
    }
  }
  .carousel-inner {
    .carouselBanner__img {
      height: 600px;
      color: #fff;
      line-height: 160px;
      text-align: center;
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      object-fit: cover;
      object-position: top center;
    }
  }
  .carouselbanner-control-next {
    right: -80px !important;
  }
  .carouselbanner-control-prev {
    left: -80px !important;
  }
}

@include responsive("mobile") {
  .carouselBanner {
    width: 100%;
    height: 100%;
    .carousel-inner {
      .carouselBanner__img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
