@import "/src/scss/main.scss";

header {
  position: fixed;
  top: 0px;
  z-index: 10;

  left: 50%;
  transform: translate(-50%);
  background-color: rgba(0, 0, 0, 0.596);
}
#navbarMovie .navbar-nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#navbarMovie .nav-item::after {
  /* Khai báo đường */
  content: "";
  width: 0;
  height: 3px;
  /* Màu trải thì phải dùng background, còn background-color chỉ được 1 màu thôi */
  /* #fbbd61, #ec7532 */
  background: linear-gradient(to right, #fbbd61, #ec7532);
  display: block;
  transition: all 0.25s;
}
#navbarMovie .nav-item:hover::after {
  width: 100%;
  box-shadow: 0 0 20px 0 #fbbd61;
}

@include responsive("mobile") {
  header {
    .container {
      padding: 0 !important;
      .header__logo {
        img {
          width: 100px !important;
          height: auto !important;
        }
      }
    }
  }
}
