.wrappedUser {
    background-image: url(/assets/img/imgBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar__user {
    background-color: whitesmoke;
    position: absolute;
    top: 10%;
    min-width: 1140px;
    min-height: 500px;
}