@import '/src/scss/main.scss';



.wrappedUser {
    background-image: url(/assets/img/imgBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar__user {
    background-color: whitesmoke;
    position: absolute;
    top: 10%;
    min-height: 500px;
}


@include responsive('mobile') {
    .wrappedUser {
        padding: 0;
        overflow-y: hidden;
        .navbar__user {
            
        } 
        .update__user {
            margin-bottom: 10px;
        }
    } 
}